[submodule "dot-vim/bundle/vim-css-color"]
	path = dot-vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "dot-vim/bundle/vim-surround"]
	path = dot-vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dot-vim/bundle/delimitMate"]
	path = dot-vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dot-vim/bundle/supertab"]
	path = dot-vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dot-vim/bundle/snipmate"]
	path = dot-vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "dot-vim/bundle/vim-cuteerrormarker"]
	path = dot-vim/bundle/vim-cuteerrormarker
	url = https://github.com/Twinside/vim-cuteErrorMarker.git
[submodule "dot-vim/bundle/vim-fugitive"]
	path = dot-vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
